/* Container for the form */
/* Container for the form */
.form-containerh {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    padding-top: calc(2rem );/* Account for navbar height */
    background-color: #f9f9f9;
    min-height: 100vh;
}


/* Styling for the intro section */
.introh {
    text-align: center;
    margin-bottom: 2rem;
}

.intro h1 {
    font-size: 1.5rem; /* Adjust as needed */
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1rem; /* Adjust as needed */
}

/* Form styling */
.request-formh {
    width: 100%;
    max-width: 800px; /* Limit the maximum width of the form */
    background-color: #ffffff; /* White background for the form */
    padding: 2rem;
    border-radius: 8px; /* Rounded corners for the form */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for form */
}

/* Form element styling */
.form-controlh {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc; /* Light border color */
    box-sizing: border-box;
}

/* Textarea styling */
textarea.form-control {
    resize: vertical; /* Allow vertical resizing of textareas */
}

/* Submit button styling */
.submit-button {
    background-color: #610437; /* Button background color */
    color: #ffffff; /* Button text color */
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #5b08a7; /* Darker shade for hover effect */
}
/* Modal styles */
.modal {
    display: block; /* Show the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Notification styles */
  .notification {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  

/* Responsive design */
@media (max-width: 768px) {
    .form-containerh {
        padding: 1rem;
        padding-top: calc(2rem);
    }

    .introh h1 {
        font-size: 1.2rem;
    }

    .introh p {
        font-size: 0.9rem;
    }

    .request-formh {
        padding: 1rem;
    }

    .form-controlh, .submit-button {
        font-size: 0.9rem;
    }
}
